*
{
	margin:0px;
	padding: 0px;
}
.body {
	text-align: center;
	background-color: yellow;
	margin-top:20px;
}
#btn {
	height: 40px;
	width: 50px;
	background-color: #839192;

}
#btnac {
	height: 40px;
	width: 75px;
	background-color: red;

}
.textarea {
	width: 200px;
	height: 40px;
	font-size: 22px;
	text-align: right;
}
#btnc  {
	height: 40px;
	width: 76px;
	background-color: #E08137;

}
.form {
	margin: 100px;

}
